.contenedorLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7DE5ED;
    height: 100vh;

}

.divInicio {
    width: 50%;
    background-color: #5DA7DB;
    border-radius: 10px;
    padding: 20px;
}

.Im-Camp {
    width: 100px;
    height: auto;

}
.Im-Camp:hover{
 cursor: pointer;
 background-color: #5837D0;
 border-radius: 50%;
}

.titulo{
    color: white;
    font-family: Verdana;
}
.ano{
    color: white;
}